.services {
	background-color: transparent;
	h2 {
		text-align: left;
		color: #eee;
	}
}

.service-options {
	display: block;
	margin: 2px;
	min-width: 200px;
	text-align: center;

	@include wider-than(900px) {
		display: flex;
		margin: 0 auto;
	}
}

.service-options > div {
	&.consulting, &.web-design, &.web-optimization, &.communication-service {
		min-width: 200px;
		min-height: 100px;
		position: relative;
		padding: 5px;
		border-radius: 2px;
		background-image: url("/images/old_moon.png");
		background-size: cover;
		background-repeat: no-repeat;

		@include wider-than(900px) {
			width: 300px;
			min-height: 300px;
			
		}
		img {
			width: 50px;
			height: 50px;
		}
	}
}

.service-options * + * {
	margin-top: 5px;

	@include wider-than(900px) {
		margin-top: 0;
		margin-left: 5px;
		
	}
}

.read-more {
	@include wider-than(900px) {
		position: absolute;
		left: 0;
		bottom: 20px;
		
	}
}

